[submodule "Minerva/vendor/spdlog"]
	path = Minerva/vendor/spdlog
	url = ../../gabime/spdlog
	branch = v1.x
[submodule "Minerva/vendor/GLFW"]
	path = Minerva/vendor/GLFW
	url = ../../glfw/glfw
	branch = master
[submodule "Minerva/vendor/imgui"]
	path = Minerva/vendor/imgui
	url = ../../ocornut/imgui
	branch = docking
[submodule "Minerva/vendor/glm"]
	path = Minerva/vendor/glm
	url = ../../g-truc/glm
	branch = master
